
<div class="col-md-12">
    <h1 class="text-center">Contact List</h1>
    <div *ngIf="contacts.length <= 0" class="alert alert-danger" role="alert">
        <span>Contact List is empty</span>
    </div>
    <table class="table table-hover table-striped" *ngIf="contacts.length > 0;">
        <thead>
            <tr>
                <th class="text-center">id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Email</th>
                <th class="text-center">Contact</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts" class="text-center">
                <td>{{contact.id}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.phone}}</td>
                <td colspan="3">
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-info" routerLink="/contact/{{contact.id}}">View</a>
                        <button class="btn btn-primary" (click)="onUpdate(contact)">Update</button>
                        <button class="btn btn-danger"(click)="onDelete(contact)">Delete</button>
                    </div>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>
